<template lang="pug">
  div.e-container
    label(v-if="label"  :class="['e-label', className]") {{ label }}
    input(
      type='text'
      @input="input"
      :class="['e-input', className]"
      :value="value"
      placeholder='Type'
      :disabled="disabled")
    i(v-if="hint" :class="['e-hint', className]") {{ hint }}
</template>
<script>

  export default {
    name: 'EInput',
    props: {
      className: {
        type: String,
        required: false,
        default: ''
      },
      value: {
        type: String,
        required: false,
        default: ''
      },
      disabled: {
        type: Boolean,
        required: false,
        default: false
      },
      label: {
        type: String,
        required: false,
        default: ''
      },
      hint: {
        type: String,
        required: false,
        default: ''
      }
    },
    methods: {
      input (event) {
        this.$emit('input', event.target.value);
      }
    }
  };
</script>

<style scoped></style>
