@font-face
  font-family: 'ecomorphism'
  src: url("/fonts/ecomorphism/ecomorphism.ttf") format("truetype"), url("/fonts/ecomorphism/ecomorphism.eot"), url("/fonts/ecomorphism/ecomorphism.eot#iefix") format("embedded-opentype"), url("/fonts/ecomorphism/ecomorphism.woff2") format("woff2"), url("/fonts/ecomorphism/ecomorphism.woff") format("woff"), url("/fonts/ecomorphism/ecomorphism.svg#ecomorphism") format("svg")
  font-weight: normal
  font-style: normal

@media screen and (-webkit-min-device-pixel-ratio: 0)
  @font-face
    font-family: 'ecomorphism'
    src: url("/fonts/ecomorphism/ecomorphism.svg#ecomorphism") format("svg")

  [class^="icon-"]:before, [class*=" icon-"]:before
    font-family: "ecomorphism"
    font-style: normal
    font-weight: normal
    speak: none
    display: inline-block
    text-decoration: inherit
    width: 1em
    margin-right: .2em
    text-align: center

    /* opacity: .8;
    /* For safety - reset parent styles, that can break glyph codes
    font-variant: normal
    text-transform: none

    /* fix buttons height, for twitter bootstrap
    line-height: 1em

    /* Animation center compensation - margins should be symmetric
    /* remove if not needed
    margin-left: .2em

    /* you can be more comfortable with increased icons size
    /* font-size: 120%;
    /* Font smoothing. That was taken from TWBS
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

/* Uncomment for 3D effect
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);

.icon-add-circular-outlined-button:before
  content: '\e800'

/* ''

.icon-add-cross-outlined-symbol:before
  content: '\e801'

/* ''

.icon-add-square-outlined-interface-button:before
  content: '\e802'

/* ''

.icon-airplane-rotated-diagonal-transport-outlined-symbol:before
  content: '\e803'

/* ''

.icon-alarm-clock-symbol:before
  content: '\e804'

/* ''

.icon-arrow-entering-into-square:before
  content: '\e805'

/* ''

.icon-attach-interface-symbol-of-rotated-paperclip:before
  content: '\e806'

/* ''

.icon-attachment:before
  content: '\e807'

/* ''

.icon-audio-tool-in-silence:before
  content: '\e808'

/* ''

.icon-back-left-arrow-circular-button-outline:before
  content: '\e809'

/* ''

.icon-back-left-arrow-square-button-outline:before
  content: '\e80a'

/* ''

.icon-big-map-placeholder-outlined-symbol-of-interface:before
  content: '\e80b'

/* ''

.icon-book-outline:before
  content: '\e80c'

/* ''

.icon-bookmark-outlined-interface-symbol:before
  content: '\e80d'

/* ''

.icon-bottle-gross-outlined-symbol:before
  content: '\e80e'

/* ''

.icon-button-of-nine-outlined-circles:before
  content: '\e80f'

/* ''

.icon-buttons:before
  content: '\e810'

/* ''

.icon-cellphone:before
  content: '\e811'

/* ''

.icon-cellular-phone-outline:before
  content: '\e812'

/* ''

.icon-center-text-interface-symbol-of-lines:before
  content: '\e813'

/* ''

.icon-chat-comment-oval-speech-bubble-with-text-lines:before
  content: '\e814'

/* ''

.icon-chat-oval-speech-bubbles-symbol:before
  content: '\e815'

/* ''

.icon-checkmark-outline:before
  content: '\e816'

/* ''

.icon-checkmark-verify-interface-symbol-button:before
  content: '\e817'

/* ''

.icon-circular-arrow-counterclockwise-rotating-symbol:before
  content: '\e818'

/* ''

.icon-circular-graphic-outline:before
  content: '\e819'

/* ''

.icon-circular-outlined-badge-with-ribbon-recognition-prize-symbol:before
  content: '\e81a'

/* ''

.icon-circular-target-shooting-interface-symbol:before
  content: '\e81b'

/* ''

.icon-clipboard-square-symbol:before
  content: '\e81c'

/* ''

.icon-checkmark-square-button-outline:before
  content: '\e81d'

/* ''

.icon-close-circular-button-symbol:before
  content: '\e81e'

/* ''

.icon-cloud-outlined-shape:before
  content: '\e81f'

/* ''

.icon-cloud-with-hail-falling:before
  content: '\e820'

/* ''

.icon-cocktail-glass-outline:before
  content: '\e821'

/* ''

.icon-code-signs:before
  content: '\e822'

/* ''

.icon-collapse-two-arrows-diagonal-symbol:before
  content: '\e823'

/* ''

.icon-comment-oval-outlined-balloon:before
  content: '\e824'

/* ''

.icon-compass-orientation-symbol:before
  content: '\e825'

/* ''

.icon-contract-two-arrows-symbol-pointing-the-center-of-square-button:before
  content: '\e826'

/* ''

.icon-copy-two-paper-sheets-interface-symbol:before
  content: '\e827'

/* ''

.icon-crescent-moon-phase-outlined-shape:before
  content: '\e828'

/* ''

.icon-cross-rounded-outline:before
  content: '\e829'

/* ''

.icon-cropping-interface-tool-symbol:before
  content: '\e82a'

/* ''

.icon-cross-square-button:before
  content: '\e82b'

/* ''

.icon-cube-of-notes-stack:before
  content: '\e82c'

/* ''

.icon-double-arrow-horizontal-symbol:before
  content: '\e82d'

/* ''

.icon-double-arrow-vertical-symbol:before
  content: '\e82e'

/* ''

.icon-double-right-arrows-angles:before
  content: '\e82f'

/* ''

.icon-down-arrow-square-button:before
  content: '\e830'

/* ''

.icon-down-arrow:before
  content: '\e831'

/* ''

.icon-down-arrow-square-outlined-button:before
  content: '\e832'

/* ''

.icon-down-arrow-to-a-square:before
  content: '\e833'

/* ''

.icon-down-circular-button:before
  content: '\e834'

/* ''

.icon-download-down-arrow-symbol:before
  content: '\e835'

/* ''

.icon-download-circular-button:before
  content: '\e836'

/* ''

.icon-download-from-internet-cloud:before
  content: '\e837'

/* ''

.icon-download-square-button:before
  content: '\e838'

/* ''

.icon-email-square-outlined-interface-symbol-of-envelope-back:before
  content: '\e839'

/* ''

.icon-electrical-storm-weather-symbol:before
  content: '\e83a'

/* ''

.icon-electronic-game-machine-outline:before
  content: '\e83b'

/* ''

.icon-download-square-outlined-interface-button:before
  content: '\e83c'

/* ''

.icon-equalization:before
  content: '\e83d'

/* ''

.icon-event-weekly-calendar-symbol:before
  content: '\e83e'

/* ''

.icon-equalizer-interface-square-button-symbol:before
  content: '\e83f'

/* ''

.icon-expand-square-interface-button-of-two-arrows:before
  content: '\e840'

/* ''

.icon-expanding-two-opposite-arrows-diagonal-symbol-of-interface:before
  content: '\e841'

/* ''

.icon-fast-forward-double-arrow-outline:before
  content: '\e842'

/* ''

.icon-favourites-star-outline-interface-symbol:before
  content: '\e843'

/* ''

.icon-file-rounded-empty-sheet:before
  content: '\e844'

/* ''

.icon-film-strip-couple-of-photograms:before
  content: '\e845'

/* ''

.icon-file-rounded-outlined-symbol:before
  content: '\e846'

/* ''

.icon-fog-at-night-weather-symbol:before
  content: '\e847'

/* ''

.icon-flag-outline:before
  content: '\e848'

/* ''

.icon-foggy-day-fog-at-sunset-or-sunrise:before
  content: '\e849'

/* ''

.icon-folder-outline:before
  content: '\e84a'

/* ''

.icon-fork:before
  content: '\e84b'

/* ''

.icon-email-closed-outlined-back-envelope-interface-symbol:before
  content: '\e84c'

/* ''

.icon-four-rounded-squares-button:before
  content: '\e84d'

/* ''

.icon-games-machine-outline:before
  content: '\e84e'

/* ''

.icon-full-screen-interface-symbol-of-four-arrows-in-square-button:before
  content: '\e84f'

/* ''

.icon-gear-outlined-symbol:before
  content: '\e850'

/* ''

.icon-giftbox-outline:before
  content: '\e851'

/* ''

.icon-graphical-business-presentation-on-a-screen:before
  content: '\e852'

/* ''

.icon-headphones-audio-symbol:before
  content: '\e853'

/* ''

.icon-hot-interface-symbol-of-fire-flames-outline:before
  content: '\e854'

/* ''

.icon-images-square-outlined-interface-button-symbol:before
  content: '\e855'

/* ''

.icon-ink-interface-symbol-of-drop-outline:before
  content: '\e856'

/* ''

.icon-label-outline:before
  content: '\e857'

/* ''

.icon-left-alignment:before
  content: '\e858'

/* ''

.icon-left-arrow-curve-outline:before
  content: '\e859'

/* ''

.icon-left-arrow-in-circle-outline:before
  content: '\e85a'

/* ''

.icon-left-arrow-line-symbol:before
  content: '\e85b'

/* ''

.icon-left-arrow-rounded-outlined-button-interface-symbol:before
  content: '\e85c'

/* ''

.icon-left-arrow-signal-outline:before
  content: '\e85d'

/* ''

.icon-left-arrow-square-outlined-button:before
  content: '\e85e'

/* ''

.icon-left-arrow-with-a-cross:before
  content: '\e85f'

/* ''

.icon-like-heart-outline-symbol:before
  content: '\e860'

/* ''

.icon-link-button:before
  content: '\e861'

/* ''

.icon-list-interface-symbol:before
  content: '\e862'

/* ''

.icon-list:before
  content: '\e863'

/* ''

.icon-lock-circular-padlock-outline-tool-symbol:before
  content: '\e864'

/* ''

.icon-login-arrow-symbol-entering-back-into-a-square:before
  content: '\e865'

/* ''

.icon-login-square-arrow-button-outline:before
  content: '\e866'

/* ''

.icon-map-folded-outlined-paper:before
  content: '\e867'

/* ''

.icon-megaphone-outline-of-amplification-tool:before
  content: '\e868'

/* ''

.icon-men:before
  content: '\e869'

/* ''

.icon-menu-square-button:before
  content: '\e86a'

/* ''

.icon-menu-three-outlined-rounded-lines-symbol:before
  content: '\e86b'

/* ''

.icon-microphone-outlined-tool:before
  content: '\e86c'

/* ''

.icon-microphone:before
  content: '\e86d'

/* ''

.icon-minus-circular-button:before
  content: '\e86e'

/* ''

.icon-minus-in-zoom-symbol:before
  content: '\e86f'

/* ''

.icon-minus-outline:before
  content: '\e870'

/* ''

.icon-minus-square-outlined-button:before
  content: '\e871'

/* ''

.icon-monitor-outline:before
  content: '\e872'

/* ''

.icon-music-note:before
  content: '\e873'

/* ''

.icon-music-rectangular-interface-button-outline:before
  content: '\e874'

/* ''

.icon-music-theme:before
  content: '\e875'

/* ''

.icon-musical-note-outlined-symbol:before
  content: '\e876'

/* ''

.icon-musical-note:before
  content: '\e877'

/* ''

.icon-mute-voice:before
  content: '\e878'

/* ''

.icon-new-email-envelope-frontal-view:before
  content: '\e879'

/* ''

.icon-nine-oclock-on-circular-clock:before
  content: '\e87a'

/* ''

.icon-note-outlined-symbol:before
  content: '\e87b'

/* ''

.icon-notebook-rectangular-symbol-with-spring:before
  content: '\e87c'

/* ''

.icon-notification-bell-outline-interface-symbol-1:before
  content: '\e87d'

/* ''

.icon-notification-bell-outline-interface-symbol:before
  content: '\e87e'

/* ''

.icon-opened-email-outlined-envelope-back-interface-symbol:before
  content: '\e87f'

/* ''

.icon-oval-empty-outlined-speech-bubble:before
  content: '\e880'

/* ''

.icon-paintbrush-outline:before
  content: '\e881'

/* ''

.icon-paper-airplane-outline:before
  content: '\e882'

/* ''

.icon-pause-outlined-big-symbol:before
  content: '\e883'

/* ''

.icon-pencil-big-outlined-vertical-tool-symbol:before
  content: '\e884'

/* ''

.icon-phone-auricular-outline:before
  content: '\e885'

/* ''

.icon-photo-camera-outline:before
  content: '\e886'

/* ''

.icon-pin:before
  content: '\e887'

/* ''

.icon-planetary-grid-symbol:before
  content: '\e888'

/* ''

.icon-play-triangle-outline:before
  content: '\e889'

/* ''

.icon-portfolio-outline:before
  content: '\e88a'

/* ''

.icon-print-interface-button-symbol-of-printer-outline:before
  content: '\e88b'

/* ''

.icon-radio:before
  content: '\e88c'

/* ''

.icon-rain-weather-cloud-outline-symbol-with-raindrops-lines:before
  content: '\e88d'

/* ''

.icon-rectangular-outlined-speech-bubble-symbol:before
  content: '\e88e'

/* ''

.icon-recycling-bin:before
  content: '\e88f'

/* ''

.icon-rewind-double-arrow-outline-multimedia-button-symbol:before
  content: '\e890'

/* ''

.icon-right-arrow-angle:before
  content: '\e891'

/* ''

.icon-right-arrow-circular-button-outline:before
  content: '\e892'

/* ''

.icon-right-arrow-circular-outlined-button:before
  content: '\e893'

/* ''

.icon-right-arrow-on-a-pole-outlined-orientation-signal-symbol:before
  content: '\e894'

/* ''

.icon-right-arrow-outline:before
  content: '\e895'

/* ''

.icon-right-arrow-square-button-symbol:before
  content: '\e896'

/* ''

.icon-right-arrow-square-outlined-button:before
  content: '\e897'

/* ''

.icon-right-arrow-symbol-in-a-square-outline:before
  content: '\e898'

/* ''

.icon-rounded-rectangular-tool-shape:before
  content: '\e899'

/* ''

.icon-sand-clock:before
  content: '\e89a'

/* ''

.icon-save-button-interface-symbol-of-outlined-diskette:before
  content: '\e89b'

/* ''

.icon-search-interface-symbol:before
  content: '\e89c'

/* ''

.icon-search-oval-magnification-tool-or-spoon-interface-symbol:before
  content: '\e89d'

/* ''

.icon-share-social-interface-button:before
  content: '\e89e'

/* ''

.icon-shopping-bag:before
  content: '\e89f'

/* ''

.icon-shopping-basket-e-commerce-symbol:before
  content: '\e8a0'

/* ''

.icon-shopping-cart-outline-1:before
  content: '\e8a1'

/* ''

.icon-shopping-cart-outline:before
  content: '\e8a2'

/* ''

.icon-shuffle:before
  content: '\e8a3'

/* ''

.icon-sort-ascending:before
  content: '\e8a4'

/* ''

.icon-sort-descending:before
  content: '\e8a5'

/* ''

.icon-speaker-musical-amplification-outlined-frontal-tool:before
  content: '\e8a6'

/* ''

.icon-speaker-outline-1:before
  content: '\e8a7'

/* ''

.icon-speaker-outline-audio-interface-symbol:before
  content: '\e8a8'

/* ''

.icon-speaker-outline:before
  content: '\e8a9'

/* ''

.icon-speaker-outlined-square-frontal-tool-audio-tool-symbol:before
  content: '\e8aa'

/* ''

.icon-speech-bubble-oval-symbol-with-three-dots:before
  content: '\e8ab'

/* ''

.icon-square-outline:before
  content: '\e8ac'

/* ''

.icon-square-shape-design-interface-tool-symbol:before
  content: '\e8ad'

/* ''

.icon-square-targeting-interface-symbol:before
  content: '\e8ae'

/* ''

.icon-store-commercial-symbol-outline:before
  content: '\e8af'

/* ''

.icon-sun-day-weather-symbol:before
  content: '\e8b0'

/* ''

.icon-sunrise-or-sunset:before
  content: '\e8b1'

/* ''

.icon-switch-outlined-symbol:before
  content: '\e8b2'

/* ''

.icon-switch-outlined-tool-symbol:before
  content: '\e8b3'

/* ''

.icon-tag-outline:before
  content: '\e8b4'

/* ''

.icon-television-outline:before
  content: '\e8b5'

/* ''

.icon-text-alignment-option-button-interface-symbol:before
  content: '\e8b6'

/* ''

.icon-text-paper-sheet-symbol:before
  content: '\e8b7'

/* ''

.icon-three-vertical-outlined-bars-symbol:before
  content: '\e8b8'

/* ''

.icon-timer-timing-tool:before
  content: '\e8b9'

/* ''

.icon-tool-outline-of-hotel-reception-or-covered-food-tray:before
  content: '\e8ba'

/* ''

.icon-triangle-equilateral-outline-shape-on-horizontal-line:before
  content: '\e8bb'

/* ''

.icon-trophy-outline:before
  content: '\e8bc'

/* ''

.icon-two-arrows:before
  content: '\e8bd'

/* ''

.icon-two-circular-arrows:before
  content: '\e8be'

/* ''

.icon-two-circular-counterclockwise-rotating-arrows-symbol:before
  content: '\e8bf'

/* ''

.icon-two-drops-sizes-outlined-shapes:before
  content: '\e8c0'

/* ''

.icon-two-rounded-equal-squares-outlines-symbol:before
  content: '\e8c1'

/* ''

.icon-unlocked-circular-padlock-outline:before
  content: '\e8c2'

/* ''

.icon-up-arrow-angle:before
  content: '\e8c3'

/* ''

.icon-up-arrow-circular-button:before
  content: '\e8c4'

/* ''

.icon-up-arrow-in-square-interface-button:before
  content: '\e8c5'

/* ''

.icon-up-arrow-into-square:before
  content: '\e8c6'

/* ''

.icon-up-arrow-or-flag-shape-big-gross-outlined-symbol:before
  content: '\e8c7'

/* ''

.icon-up-arrow-square-button-outline:before
  content: '\e8c8'

/* ''

.icon-up-arrow-square-button:before
  content: '\e8c9'

/* ''

.icon-up-arrow-with-house-shape-outlined-symbol:before
  content: '\e8ca'

/* ''

.icon-up-circular-interface-button:before
  content: '\e8cb'

/* ''

.icon-up-square-button-outline:before
  content: '\e8cc'

/* ''

.icon-upload-to-the-cloud:before
  content: '\e8cd'

/* ''

.icon-upload:before
  content: '\e8ce'

/* ''

.icon-upper-right-arrow-square-button-outlined-symbol:before
  content: '\e8cf'

/* ''

.icon-user-info-interface-symbol-with-text-lines-at-right-side:before
  content: '\e8d0'

/* ''

.icon-user-outline-male-symbol-of-interface:before
  content: '\e8d1'

/* ''

.icon-video-camera-outline:before
  content: '\e8d2'

/* ''

.icon-wallet-outline:before
  content: '\e8d3'

/* ''

.icon-weather-interface-symbol-of-a-semicircle-on-three-lines-perspective:before
  content: '\e8d4'

/* ''

.icon-weekly-calendar-outline-event-interface-symbol:before
  content: '\e8d5'

/* ''

.icon-weekly-calendar:before
  content: '\e8d6'

/* ''

.icon-wind-socket-outlined-symbol:before
  content: '\e8d7'

/* ''

.icon-window-outline:before
  content: '\e8d8'

/* ''

.icon-winds-lines-weather-symbol:before
  content: '\e8d9'

/* ''

.icon-wrench-outline:before
  content: '\e8da'

/* ''

.icon-zoom-increasing-symbol:before
  content: '\e8db'

/* ''
