@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-black.ttf") format("truetype"), url("/fonts/rubik/rubik-black.eot"), url("/fonts/rubik/rubik-black.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-black.woff2") format("woff2"), url("/fonts/rubik/rubik-black.woff") format("woff"), url("/fonts/rubik/rubik-black.svg#rubikblack") format("svg")
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-blackItalic.ttf") format("truetype"), url("/fonts/rubik/rubik-blackitalic.eot"), url("/fonts/rubik/rubik-blackitalic.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-blackitalic.woff2") format("woff2"), url("/fonts/rubik/rubik-blackitalic.woff") format("woff"), url("/fonts/rubik/rubik-blackitalic.svg#rubikblack_italic") format("svg")
  font-weight: 900
  font-style: italic

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-bold.ttf") format("truetype"), url("/fonts/rubik/rubik-bold.eot"), url("/fonts/rubik/rubik-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-bold.woff2") format("woff2"), url("/fonts/rubik/rubik-bold.woff") format("woff"), url("/fonts/rubik/rubik-bold.svg#rubikbold") format("svg")
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-boldItalic.ttf") format("truetype"), url("/fonts/rubik/rubik-bolditalic.eot"), url("/fonts/rubik/rubik-bolditalic.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-bolditalic.woff2") format("woff2"), url("/fonts/rubik/rubik-bolditalic.woff") format("woff"), url("/fonts/rubik/rubik-bolditalic.svg#rubikbold_italic") format("svg")
  font-weight: 700
  font-style: italic

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-Italic.ttf") format("truetype"), url("/fonts/rubik/rubik-italic.eot"), url("/fonts/rubik/rubik-italic.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-italic.woff2") format("woff2"), url("/fonts/rubik/rubik-italic.woff") format("woff"), url("/fonts/rubik/rubik-italic.svg#rubikitalic") format("svg")
  font-weight: 400
  font-style: italic

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-light.ttf") format("truetype"), url("/fonts/rubik/rubik-light.eot"), url("/fonts/rubik/rubik-light.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-light.woff2") format("woff2"), url("/fonts/rubik/rubik-light.woff") format("woff"), url("/fonts/rubik/rubik-light.svg#rubiklight") format("svg")
  font-weight: 300
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-lightItalic.ttf") format("truetype"), url("/fonts/rubik/rubik-lightitalic.eot"), url("/fonts/rubik/rubik-lightitalic.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-lightitalic.woff2") format("woff2"), url("/fonts/rubik/rubik-lightitalic.woff") format("woff"), url("/fonts/rubik/rubik-lightitalic.svg#rubiklight_italic") format("svg")
  font-weight: 300
  font-style: italic

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-medium.ttf") format("truetype"), url("/fonts/rubik/rubik-medium.eot"), url("/fonts/rubik/rubik-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-medium.woff2") format("woff2"), url("/fonts/rubik/rubik-medium.woff") format("woff"), url("/fonts/rubik/rubik-medium.svg#rubikmedium") format("svg")
  font-weight: 500
  font-style: normal

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-mediumItalic.ttf") format("truetype"), url("/fonts/rubik/rubik-mediumitalic.eot"), url("/fonts/rubik/rubik-mediumitalic.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-mediumitalic.woff2") format("woff2"), url("/fonts/rubik/rubik-mediumitalic.woff") format("woff"), url("/fonts/rubik/rubik-mediumitalic.svg#rubikmedium_italic") format("svg")
  font-weight: 500
  font-style: italic

@font-face
  font-family: 'Rubik'
  src: url("/fonts/rubik/rubik-regular.ttf") format("truetype"), url("/fonts/rubik/rubik-regular.eot"), url("/fonts/rubik/rubik-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/rubik/rubik-regular.woff2") format("woff2"), url("/fonts/rubik/rubik-regular.woff") format("woff"), url("/fonts/rubik/rubik-regular.svg#rubikregular") format("svg")
  font-weight: 400
  font-style: normal
