<template lang="pug">
  div
    .container
      .column
        EInput
        EInput(:value="title")
        EInput(:className="'success'" v-model="successValue")
        EInput(:className="'error'" v-model="errorValue")
        EInput(:disabled='true')
        i.icon-add-circular-outlined-button
        i.icon-add-circular-outlined-button
    .container
      .column
        EInput(:label="'Label'")
        EInput(:label="'Label'" :hint="'Field is required'")
        ETextArea(:className="'success'")
      .column
        EInput(:label="'Label'" :className="'success'")
        EInput(:label="'Label'" :className="'success'" :hint="'Success text'")
        ETextArea(:className="'error'")
      .column
        EInput(:label="'Label'" :disabled='true')
        EInput(:label="'Label'" :className="'error'" :hint="'Error text'")
        ETextArea(:className="'error'")
      .column
        ETextArea
        ETextArea(:disabled='true')
    .container
      .column
        ETextArea(:label="'Label'")
        ETextArea(:label="'Label'" :className="'success'")
        ETextArea(:label="'Label'" :className="'error'")
        ETextArea(:label="'Label'" :disabled='true')
      .column
        ETextArea(:label="'Label'" :hint="'Field is required'")
        ETextArea(:label="'Label'" :className="'success'" :hint="'Success text'")
        ETextArea(:label="'Label'" :className="'error'" :hint="'Error text'")
        ETextArea(:label="'Label'" :disabled='true' v-model="textareaValue")
</template>

<script>
  import EInput from '@/components/shared/EInput.vue';
  import ETextArea from '@/components/shared/ETextArea.vue';

  export default {
    name: 'Index',
    components: {
      EInput,
      ETextArea
    },
    data () {
      return {
        title: 'Text value',
        errorValue: 'Error value',
        successValue: 'Success value',
        textareaValue: 'The textarea tag defines a multi-line text input control.'
      };
    }
  };
</script>

<style lang="sass">
  .container
    width: 100%
    padding: 30px
    height: auto
    display: flex
    flex-direction: row

    .column
      padding-right: 32px
      width: 272px

      > *
        width: 100%
        margin-bottom: 20px

        > *
          width: 100%
</style>
