@import "./assets/styles/variables/colors"
@import "./assets/styles/variables/fonts"
@import "./assets/styles/variables/input"

.e
  &-container
    display: flex
    flex-direction: column
    align-items: start
    justify-content: start

  &-input, &-textarea
    padding: $default-padding
    border: $input-default-border
    border-radius: $input-border-radius
    color: $input-text-color
    font-family: $rubik
    font-size: $default-font-size
    font-weight: $default-font-weight
    line-height: $default-line-height
    background-color: $input-default-background-color
    box-shadow: $input-default-box-shadow

    ::-webkit-input-placeholder
      color: $input-placeholder-color

    :-ms-input-placeholder
      color: $input-placeholder-color

    ::placeholder
      color: $input-placeholder-color

    &:focus, &:active, &:hover, &:link, &:visited
      outline: none

    &:hover
      border-color: $middle-grey

    &:focus
      border: $input-focus-border
      box-shadow: $input-focus-box-shadow

    &.error
      border: $input-error-border
      color: $total-red
      box-shadow: $input-error-box-shadow

    &.success
      border: $input-success-border
      box-shadow: $input-success-box-shadow
      color: $total-black

    &.disabled, &:disabled
      border: $input-disabled-border
      color: $disabled-input-color
      background-color: $disabled-bg
      box-shadow: none

  &-label
    font-family: $rubik
    font-size: $default-font-size
    font-weight: $default-font-weight
    line-height: $default-line-height
    padding-left: $default-padding
    color: $dark-grey
    margin-bottom: $default-margin

  &-hint
    font-family: $rubik
    font-size: $small-font-size
    font-weight: $default-font-weight
    font-style: $default-font-style
    line-height: $default-line-height
    padding-left: $default-padding
    color: $dark-grey
    margin-top: $default-margin

    &.success
      color: $almost-green

    &.error
      color: $total-red

  &-textarea
    min-height: $default-textarea-min-height
    height: $default-textarea-height

    &.disabled, &:disabled
      color: $disabled-textarea-color
